.project-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.pr-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.pr{
    margin-bottom: 6rem;
}